.card
  .card-header
    = card.deck.title
  .card-body
    %h5.card-title
      = card.question
    %p.card-text
      = card.answer
      .inline-block
        = button_to 'Next', { action: :next }, { class: 'btn btn-info' }