.card.text-center
  .card-header
    = card.question
  .card-body{style: 'min-height: 125px;'}
    %p.card-text#card-text
      %span#card-answer
  
  .card-footer
    = link_to 'Show Answer', answer_deck_card_path(card), remote: true, id: 'show-answer', class: 'btn btn-primary'
    %div#card-responses{style: 'display:none;'}
      .inline-block
        = button_to 'Right', { action: :right }, { class: 'btn btn-success' }
      .inline-block
        = button_to 'Wrong', { action: :wrong }, { class: 'btn btn-danger' }